#sixthrow{
    padding: 7px;
}
#idp{
    padding-top: 10px;
}
#ninthrow{
    padding: 10px;
}
#sign{
    padding-top: 10px;
}
#edtab th,td{
    border: 3px solid black;width: 400;
}
#sub{
    padding-bottom: 10px;
}
#container2{
    border: 1px solid black;
    display: ;
}